*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    background-image: url('https://t4.ftcdn.net/jpg/05/50/95/87/360_F_550958748_OeGcRonEUNoVhd0wjd9zSEMhLFIGO9Bt.jpg');
    background-repeat: no-repeat;
    background-size:cover ;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100vh;
    width: 70%;
    box-shadow: 1px 1px 50px red;
}
.head{
    padding: 3vmin;
    text-align: center;
    box-shadow: 1px px 25px red;
    z-index: 2;
  background-color: transparent;
    backdrop-filter: blur(6px);
}
.head h2{
    font-size: 4vmin;
    font-family: sans-serif;
    
} 
.main-body{
    background-color: transparent;
    backdrop-filter: blur(6px);
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

 .main-body::-webkit-scrollbar{
    display: none;
}
#model{
    outline: none;
    padding: 2vmin;
   box-shadow:  1px 1px  20px blue; 
    resize: none; 
    border: none;
    color: rgb(74, 189, 12);    
    background-color: transparent;
    backdrop-filter: blur(6px);
    height: 100%;
    font-size: 24px;
    font-family:sans-serif;
    font-weight: bold;
    -webkit-text-stroke: 0.9px black; 
    /* text-fill-color: rgb(74, 189, 12); */
}

.tail{
    padding: 2vmin;
    display: flex;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(6px);
    justify-content: space-evenly;
}
.text-field{
    height: 40px;
    width: 60%;
    text-align: center;
    border-radius: 20px;
    outline: none;
    background-color: transparent;
    backdrop-filter: blur(6px);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: white;
    
    
}
.text-field:hover{
    box-shadow:  4px 4px  20px blue;
    transition: 0.7s;
}
.submit{
    height:40px ;
    width: 70px;
    background-color: transparent;
    backdrop-filter: blur(6px);
  
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 20px;
    outline: none;
    border: none;

}
.submit:hover{
    
    box-shadow:  4px 4px  20px blue;
    transition: 0.5s;
}